<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta
            name="description"
            content="Ismail Khan, Software Engineer from Toronto, Canada."
        />
        <meta name="author" content="Ismail Khan" />
        <meta
            name="keywords"
            content="Software Engineer, Web Developer, Full-Stack Developer, JavaScript, Python, Front-End, Back-End, DevOps, API Integration, Toronto, Canada"
        />
        <meta name="robots" content="index, follow" />
        <!-- Add the favicon -->
        <link rel="icon" type="image/jpeg" href="/static/imgs/ik-favicon.jpg" />

        <link
            rel="stylesheet"
            type="text/css"
            href="{{url_for('static', filename='dist/css/output.css')}}"
        />

        <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/gh/devicons/devicon@v2.15.1/devicon.min.css"
        />

        <script
            src="https://kit.fontawesome.com/3b7e1f5bdc.js"
            crossorigin="anonymous"
        ></script>

        <title>Ismail Khan</title>
    </head>

    <body class="flex flex-col min-h-screen bg-blue-50">
        <header class="py-4 bg-blue-900 text-slate-300 font-mono">
            <div>
                <nav
                    class="container mx-auto max-w-5xl flex justify-between items-center"
                >
                    <div>
                        <a href="/" class="flex items-center">
                            <img
                                src="/static/imgs/ik-icon.svg"
                                alt="Ismail Khan SVG Image"
                                class="w-8 h-8 mr-2"
                            />
                            <h1
                                class="font-semibold text-2xl uppercase hover:text-orange-500 hover:underline"
                            >
                                Ismail Khan
                            </h1>
                        </a>
                    </div>
                    <ul class="flex space-x-4">
                        <li>
                            <a
                                href="{{ url_for('cv')}}"
                                class="font-bold hover:bg-orange-500 hover:text-white rounded-md px-3 py-2"
                                >CV</a
                            >
                        </li>
                        <li>
                            <a
                                href="{{ url_for('projects')}}"
                                class="font-bold hover:bg-orange-500 hover:text-white rounded-md px-3 py-2"
                                >Projects</a
                            >
                        </li>
                        <li>
                            <a
                                href="{{ url_for('blog')}}"
                                class="font-bold hover:bg-orange-500 hover:text-white rounded-md px-3 py-2"
                                >Blog</a
                            >
                        </li>
                    </ul>
                </nav>
            </div>
        </header>

        <main class="container mx-auto max-w-5xl flex-grow">
            <!-- This is where the child content of the page will go -->
            {% block content %}{% endblock %}
        </main>

        <footer
            class="bg-blue-900 text-slate-300 font-mono py-3 bottom-0 w-full sticky"
        >
            <div
                class="container mx-auto max-w-5xl flex justify-between items-center"
            >
                <div class="social-container flex items-center">
                    <a
                        href="https://github.com/ismailkhan-dev"
                        class="mr-4 hover:text-orange-500"
                    >
                        <i class="fab fa-github text-2xl"></i>
                    </a>
                    <a
                        href="https://www.linkedin.com/in/iikhan/"
                        class="mr-4 hover:text-orange-500"
                    >
                        <i class="fab fa-linkedin text-2xl"></i>
                    </a>
                    <a
                        href="https://ismailkhan.hashnode.dev/"
                        class="hover:text-orange-500"
                    >
                        <i class="fa-brands fa-hashnode text-2xl"></i>
                    </a>
                </div>

                <div class="px-3 flex items-center">
                    <img
                        src="/static/imgs/ik-icon.svg"
                        alt="Ismail Khan SVG Image"
                        class="w-6 h-6 mr-2"
                    />
                    &copy; 2023
                </div>
            </div>
        </footer>
    </body>
</html>
