{% extends "base.html" %} {% block content %}

<div class="container mx-auto mb-8">
    <!-- Hero Section -->
    <div class="bg-white rounded-lg shadow-lg p-6 mb-4 mt-4">
        <div class="flex items-stretch mb-4">
            <div class="w-1/4">
                <img
                    src="/static/imgs/profile-pic.png"
                    alt="Ismail Khan profile picture."
                    class="rounded-md h-42 w-32 object-cover border-2 border-blue-900"
                />
            </div>
            <div class="ml-4 flex flex-col justify-around">
                <h2
                    id="translated-text"
                    class="text-5xl font-medium text-blue-900"
                >
                    👋 Hello! I'm Ismail. 😃
                </h2>

                <p class="text-xl font-semibold text-gray-700 leading-normal">
                    Full-Stack Developer from Toronto 🇨🇦 currently working as a
                    <strong>Senior Software Test Engineer</strong>. I specialize
                    in web development and test automation.
                </p>
            </div>
        </div>

        <p class="text-base text-gray-700 mt-2">
            With over 8 years of experience in the IT industry, I bring a wealth
            of knowledge and a diverse skill set to the table. My professional
            journey has taken me through a fascinating array of roles and
            industries. I've donned different hats, including Full-Stack
            Developer, Web Developer, Software Test Engineer, QA Analyst,
            Technical Business Analyst, and IT Analyst. This extensive
            background has provided me with a holistic perspective on IT,
            enabling me to excel in a multitude of areas. 🌐
        </p>
        <p class="text-base text-gray-700 mt-2">
            Web development is my passion, and I specialize in crafting
            immersive online experiences. Proficient in Python and JavaScript,
            I've woven code into stunning websites and web applications using
            cutting-edge technologies like Angular and React. My work is not
            just about aesthetics; it's about functionality, user-friendliness,
            and performance. 💻
        </p>

        <p class="text-base text-gray-700 mt-2">
            Thanks for visiting and happy coding! 🙌
        </p>
    </div>

    <div class="bg-white rounded-lg shadow-lg p-6 mb-4 flex flex-col space-y-2">
        <div>
            <strong>Contact Details:</strong> Ismail Khan in Toronto, Ontario,
            Canada.
        </div>
        <div class="text-base text-gray-700">
            Reach me on
            <a
                href="https://www.linkedin.com/in/iikhan/"
                target="_blank"
                rel="noopener noreferrer"
                class="text-blue-500 hover:underline hover:text-orange-400"
            >
                LinkedIn
            </a>
            or email:
            <a
                href="mailto:ismailkhan.dev@gmail.com"
                class="text-blue-500 hover:underline hover:text-orange-400"
            >
                ismailkhan.dev[at]gmail.com
            </a>
            🚀
        </div>
    </div>
</div>

<!-- Import the translateText.js script -->
<script src="{{ url_for('static', filename='js/translateText.js') }}"></script>
{% endblock content %}
