{% extends "base.html" %}

{% block content %}
    <h2>Hello, I'm Ismail!</h2>
    <!-- <img src="/static/imgs/profile-pic.png" alt="Ismail Khan Profile"> -->
    <p>I'm a Software Engineer with a background in web development and business analysis. I currently work as a Senior Software Test Engineer @ The Home Depot Canada. I work with Python, Node.js and major front-end frameworks. You can find some of the side-projects on my GitHub. I also occassionally write about technology from time to time.</p>
    <p>Get in touch via LinkedIn or at ismailkhan.dev[at]gmail.com.</p>
    <p>Thanks for visiting and happy coding!</p>

    <div>
        <h3>Technical Skills</h3>
        <ul>
            <li>Python</li>
            <li>JavaScript</li>
            <li>HTML</li>
            <li>CSS</li>
            <li>SQL</li>
            <li>Git</li>
            <li>Linux</li>
            <li>Test Automation</li>
            <li>Test Engineering</li>
            <li>Business Analysis</li>
            <li>Project Management</li>
        </ul>
    </div>
{% endblock content %}