{% extends "base.html" %} {% block content %}

<div class="container mx-auto mb-8">
    <!-- Hero Section -->
    <div class="bg-white rounded-lg shadow-lg p-6 mb-4 mt-4">
        <div class="flex items-center mb-4">
            <div>
                <img
                    src="/static/imgs/profile-pic.png"
                    alt="Ismail Khan profile picture."
                    class="mx-auto rounded-md h-42 w-32 object-cover border-2 border-blue-900"
                />
            </div>
            <h2
                id="translated-text"
                class="text-5xl font-medium text-blue-900 ml-4"
            >
                👋 Hello! I'm Ismail. 😃
            </h2>
        </div>

        <p class="text-xl font-semibold text-gray-700 leading-normal">
            Software Engineer from Toronto, Canada 🇨🇦 currently working as a
            <strong>Senior Software Test Engineer</strong>. I specialize in web
            development and test automation.
        </p>
        <p class="text-base text-gray-700 mt-2">
            I primarily work with Python, TypeScript, Angular, and other major
            front-end frameworks. You can check out my side-projects on my
            GitHub. I also occasionally write about technology from time to
            time. 💻
        </p>

        <p class="text-base text-gray-700 mt-2">
            Thanks for visiting and happy coding! 🙌
        </p>
    </div>

    <div class="bg-white rounded-lg shadow-lg p-6 mb-4">
        <p class="text-base text-gray-700">
            You can reach me on
            <a
                href="https://www.linkedin.com/in/iikhan/"
                target="_blank"
                rel="noopener noreferrer"
                class="text-blue-500 hover:underline hover:text-orange-400"
                >LinkedIn</a
            >
            or by email at
            <a
                href="mailto:ismailkhan.dev@gmail.com"
                class="text-blue-500 hover:underline hover:text-orange-400"
                >ismailkhan.dev[at]gmail.com</a
            >. 🚀
        </p>
    </div>
</div>

<!-- Import the translateText.js script -->
<script src="{{ url_for('static', filename='js/translateText.js') }}"></script>
{% endblock content %}
