{% extends "base.html" %} {% block content %} {% macro
bannerComponent(icon_class, icon_color, link, link_text) %}
<div
    class="bg-blue-100 border-t-4 border-blue-800 rounded-b text-blue-900 px-4 py-3 shadow-md mb-4 mt-4"
>
    <div class="flex items-center">
        <div class="flex-shrink-0">
            <!-- Icon -->
            <i class="{{ icon_class }} text-3xl mr-2"></i>
        </div>
        <div class="ml-3">
            <a
                href="{{ link }}"
                target="_blank"
                class="text-blue-500 font-extrabold hover:text-orange-500 hover:underline block py-3"
                >{{ link_text }}</a
            >
        </div>
    </div>
</div>
{% endmacro %} {{ bannerComponent("fab fa-github", "blue",
"https://github.com/iikhan-dev", "View my GitHub profile here.") }}

<h2 class="text-2xl font-semibold text-gray-800 mb-4">🧠 Skills</h2>

<!-- Skills section -->
<div class="bg-white rounded-lg shadow-lg p-3">
    <div class="grid grid-cols-8">
        {% for icon in skill_icons %}
        <div class="flex flex-col items-center">
            <i class="{{ icon.class }} colored text-5xl"></i>
            <p class="mt-2 text-sm">{{ icon.name }}</p>
        </div>
        {% endfor %}
    </div>
</div>

<!-- Projects Section -->
<div class="my-8">
    <h2 class="text-2xl font-semibold text-gray-800 mb-4">🦺 Projects</h2>
    <div class="bg-white shadow-lg rounded-lg overflow-hidden flex mb-4">
        <!-- Project Image -->
        <div class="p-4">
            <img
                src="/static/imgs/ik-icon.svg"
                alt="Ismailkhan.dev site icon."
                class="w-full h-32 object-contain"
            />
        </div>

        <!-- Project Details -->
        <div class="p-6">
            <!-- Project Title -->
            <p class="text-xl font-semibold text-gray-800 mb-2">
                IsmailKhan[dot]dev Personal Site
            </p>

            <!-- Project Summary -->
            <p class="text-gray-600 mb-4">
                This website is statically built containing relevant information
                about my coding profile.
            </p>

            <!-- Tech Stack Tags -->
            <div class="mb-4">
                <span
                    class="bg-orange-200 text-blue-800 rounded-full px-2 py-1 text-xs mr-2"
                    >Website</span
                >
                <span
                    class="bg-blue-200 text-blue-800 rounded-full px-2 py-1 text-xs mr-2"
                    >Python</span
                >
                <span
                    class="bg-blue-200 text-blue-800 rounded-full px-2 py-1 text-xs mr-2"
                    >JavaScript</span
                >
                <span
                    class="bg-blue-200 text-blue-800 rounded-full px-2 py-1 text-xs mr-2"
                    >Flask</span
                >
                <span
                    class="bg-blue-200 text-blue-800 rounded-full px-2 py-1 text-xs mr-2"
                    >Frozen-Flask</span
                >
                <span
                    class="bg-blue-200 text-blue-800 rounded-full px-2 py-1 text-xs mr-2"
                    >Jinja2</span
                >
                <span
                    class="bg-blue-200 text-blue-800 rounded-full px-2 py-1 text-xs mr-2"
                    >TailwindCSS</span
                >
                <span
                    class="bg-blue-200 text-blue-800 rounded-full px-2 py-1 text-xs mr-2"
                    >GitHub Pages</span
                >
                <span
                    class="bg-blue-200 text-blue-800 rounded-full px-2 py-1 text-xs mr-2"
                    >GitHub Actions</span
                >
            </div>

            <!-- Project Links -->
            <div class="flex items-center">
                <!-- GitHub Link as a Button -->
                <a
                    href="https://github.com/iikhan-dev/personal-site-flask"
                    target="_blank"
                    class="text-white bg-blue-500 hover:bg-blue-600 py-2 px-2 rounded-md"
                >
                    Repo
                    <i class="fa-brands fa-git-alt text-xl pl-1"></i>
                </a>
            </div>
        </div>
    </div>

    <div class="bg-white shadow-lg rounded-lg overflow-hidden flex mb-4">
        <!-- Project Details -->
        <div class="p-6">
            <!-- Project Title -->
            <p class="text-xl font-semibold text-gray-800 mb-2">
                Automated Goodreads Friend Adder
            </p>

            <!-- Project Summary -->
            <p class="text-gray-600 mb-4">
                This script streamlines the process of connecting with friends
                on Goodreads by automating friend requests.
            </p>

            <!-- Tech Stack Tags -->
            <div class="mb-4">
                <span
                    class="bg-orange-200 text-blue-800 rounded-full px-2 py-1 text-xs mr-2"
                    >Script</span
                >
                <span
                    class="bg-blue-200 text-blue-800 rounded-full px-2 py-1 text-xs mr-2"
                    >Python</span
                >
                <span
                    class="bg-blue-200 text-blue-800 rounded-full px-2 py-1 text-xs mr-2"
                    >Playwright</span
                >
            </div>

            <!-- Project Links -->
            <div>
                <!-- GitHub Link as a Button -->
                <a
                    href="https://github.com/iikhan-dev/goodreads-add-friends"
                    target="_blank"
                    class="text-white bg-blue-500 hover:bg-blue-600 py-2 px-2 rounded-md"
                >
                    Repo
                    <i class="fa-brands fa-git-alt text-xl pl-1"></i>
                </a>
            </div>
        </div>
    </div>
    {% endblock content%}
</div>
